@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin container() {
	width: 320px;
	margin: 0 auto;
	
	@media #{$tabletWidth} {
		width: 640px;
	}
	
	@media #{$desktopWidth} {
		width: 960px;
	}
}

@mixin containerFluid() {
	width: auto;
	
	@media #{$tabletWidth} {
		width: 83.3%;
		max-width: 960px;
		margin: 0 auto;
	}
	
}

@mixin no-outline() {
	outline: none;
	background: transparent;
	
	&::before {
		display: none;
	}
}