body {
	background: $bg_darkgray url("../temp/barbershop-all/layer 1m.png") no-repeat 50% 0;
//	background-size: 720px auto;
//	min-height: 750px;
	
	@media #{$tabletWidth} {
		background-image: url("../temp/barbershop-all/layer 2.png");
//		background-size: 1178px auto;
	}
	
	@media #{$desktopWidth} {
		background-image: url("../temp/barbershop-all/layer 3.png");
//		background-size: 1391px auto;
	}
}

.pageHeader__logo {
	background: rgba(gray, 0.5);
}

.mainNav {
	background: rgba(#4b2818, 0.7);
}
