.pageHeader {
	position: relative;
	min-height: 135px;
}

.pageHeader__logo {
	height: 85px;
}

@media #{$tabletWidth} {
	.pageHeader {
		min-height: 72px;
		padding-bottom: 398px;
	}
	
	.pageHeader__logo {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 398px;
	}
}

@media #{$desktopWidth} {
	.pageHeader {
		padding-bottom: 648px;
	}
	
	.pageHeader__logo {
		height: 648px;
	}
}