.pageFooter {
	min-height: 500px;
	padding-top: 0px;
	text-align: center;
}

.pageFooter__wrapper {
	@include container;
}

.pageFooter__contacts {
	box-sizing: border-box;
	
	padding: 0 20px;
	padding-top: 31px;
	padding-bottom: 26px;
	margin: 0;
}

.pageFooter__contacts b {
	display: block;
	margin-bottom: 10px;
}

.pageFooter__tel {
	margin-top: 18px;	
}

.pageFooter__contacts_hidden {
	display: none;
}

.pageFooter__social {
	margin: 0;
	padding: 0;
	min-height: 101px;
	font-size: 0;
}

.socialLinks {
	@include clearfix;
}

.socialLink {
	float: left;
	width: 33.3%;
	height: 101px;
	margin: 0;
	font-size: 0;
	
	&:not(:first-child) {
		margin-left: -1px;
	}
}

.pageFooter__copyright {
	min-height: 140px;
	box-sizing: border-box;
	padding: 0 20px;
	padding-top: 28px;
	margin: 0;
}

.pageFooter__copyrightLink {
	margin-top: 12px;
}

@media #{$tabletWidth} {
	
	.pageFooter {
		min-height: 350px;
		padding-top: 38px;
	}
	
	.pageFooter__contacts {
		min-height: 150px;
		text-align: left;
		padding: 0;
		padding-top: 10px;
		margin-right: 180px;
	}
	
	.pageFooter__contacts b {
		text-transform: uppercase;
	}
	
	.pageFooter__tel {
		display: block;
		margin: 0;
		padding-left: 0;
		margin-top: -10px;
		text-align: left;
		text-transform: none;
		border: none;
		font-weight: normal;
	}
	
	.pageFooter__contacts_hidden {
		display: inline;
	}
	
	.pageFooter__wrapper {
		position: relative;
	}
	
	.pageFooter__copyright {
		position: absolute;
		top: 0;
		right: 0;
		width: 160px;
		padding: 0;
		padding-top: 10px;
	}
	
	.pageFooter__copyrightLink {
		width: 160px;
	}
}

@media #{$desktopWidth} {
	
	.pageFooter {
		min-height: 200px;
	}
	
	.pageFooter__wrapper {
		@include clearfix;
	}
	
	.pageFooter__contacts,
	.pageFooter__social,
	.pageFooter__copyright {
		float: left;
		margin: 0;
	}
	
	.pageFooter__contacts {
		width: 350px;
	}
	
	.pageFooter__social {
		width: 260px;
		padding-top: 10px;
		font-size: 18px;
	}
	
	.socialLinks {
		text-align: center;
		display: inline-block;
		padding-top: 14px;
	}
	
	.socialLink {
		width: 50px;
		height: 50px;
		margin-right: 6px;
		
		&:last-child {
			margin-right: 0;
		}
	}
}