// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';
$mobileWidthOnly: '(max-width: 767px)';

$bg_darkgray: #292929;
$bg_lightgray: #f8f5f2;
$border_color: #e5ddd5;
$border_color2: #d5c9bd;

$border_foot1: #3e3e3e;
$border_foot2: #515151;
$border_foot3: #252525;


// Settings

@font-face {
	font-weight: normal;
	font-family: "PT Sans Narrow";
	font-style: normal;
	
	src: url("../fonts/PTSansNarrow.ttf") format("truetype"),
	url("../fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "PT Sans Narrow";
	font-style: normal;
	
	src: url("../fonts/PTSansNarrowBold.ttf") format("truetype"),
	url("../fonts/PTSansNarrowBold.woff") format("woff");
}



body {
	font-size: 18px;
	line-height: 27px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	color: #f7f4f1;
	font-style: normal;
	
	background-color: $bg_darkgray;
}

img {
	max-width: 100%;
	height: auto;
}


.btn {
	display: block;
	border: 1px solid #e5ddd5;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	padding-bottom: 11px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	
	&:hover {
		border-color: $border_color2;
	}
	
	&:active {
		background-color: $border_color2;
		color: rgba(black, 0.3);
	}
}

.btn_foot {
	color: white;
	border: 1px solid $border_foot1;
	
	&:hover {
		border-color: $border_foot2;
	}
	
	&:active {
		background-color: $border_foot3;
		border-color: transparent;
		color: rgba(white, 0.3);
	}
}

@import "mixins";
//@import "outlines";
@import "normalize";


@import "pageHeader";
@import "mainNav";
@import "stats";
@import "slider";
@import "advantages";
@import "news";
@import "reviews";
@import "pageFooter";






