@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.ttf") format("truetype"), url("../fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.ttf") format("truetype"), url("../fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  padding-bottom: 11px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.btn:hover {
  border-color: #d5c9bd;
}

.btn:active {
  background-color: #d5c9bd;
  color: rgba(0, 0, 0, 0.3);
}

.btn_foot {
  color: white;
  border: 1px solid #3e3e3e;
}

.btn_foot:hover {
  border-color: #515151;
}

.btn_foot:active {
  background-color: #252525;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.pageHeader {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.pageHeader__logo {
  height: 85px;
  text-align: center;
}

.pageHeader__logo img {
  width: 230px;
  height: 85px;
}

@media (min-width: 768px) {
  .pageHeader {
    min-height: 72px;
    background-color: black;
  }
  .pageHeader__logo {
    order: 1;
    position: relative;
    width: 100%;
    height: 397px;
    background-color: black;
    background-image: url(../img/pageHeader__logo.jpg);
    background-repeat: no-repeat;
    background-position: center -72px;
  }
  .pageHeader__logo img {
    position: absolute;
    bottom: 257px;
    transform: translateX(-50%);
    width: 370px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .pageHeader__logo {
    height: 648px;
    background-position: center -72px;
    background-size: auto 720px;
  }
  .pageHeader__logo img {
    bottom: 438px;
  }
}

.mainNav {
  position: relative;
  width: auto;
  background-color: #826550;
  min-height: 51px;
}

.mainNav__toggle {
  width: 70px;
  height: 50px;
  font-size: 0;
  border: 0;
  background: #6a4d38;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.mainNav__toggle:hover {
  background-color: #624530;
}

.mainNav__toggle:active {
  background-color: #624530;
}

.mainNav_closed .mainNav__toggle:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 2px;
  background-color: #fff;
  left: 17px;
  top: 15px;
  box-shadow: 0 8px white, 0 16px white;
}

.mainNav_closed .mainNav__toggle:active:before {
  opacity: 0.3;
}

.mainNav_opened .mainNav__toggle {
  top: 0;
  right: auto;
  left: 0;
}

.mainNav_opened .mainNav__toggle:before, .mainNav_opened .mainNav__toggle:after {
  content: '';
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #fff;
}

.mainNav_opened .mainNav__toggle:before {
  transform: rotate(45deg);
}

.mainNav_opened .mainNav__toggle:after {
  transform: rotate(-45deg);
}

.mainNav_opened .mainNav__toggle:active:before, .mainNav_opened .mainNav__toggle:active:after {
  opacity: 0.3;
}

.mainNav__wrapper {
  background-color: #6a4d38;
}

.mainNav__list,
.mainNav__userList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainNav__list {
  font-weight: 700;
}

.mainNav__item a {
  display: block;
  padding: 21px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.mainNav__item a[href]:hover {
  background-color: #755a46;
}

.mainNav__item a[href]:active {
  border-color: transparent;
  opacity: 0.3;
}

.mainNav__userLogin {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  padding-left: 48px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 21px;
}

.mainNav__userLogin:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 17px;
  width: 16px;
  height: 16px;
  background-image: url(../img/mainNav__userLogin.png);
  opacity: 0.3;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .mainNav_closed .mainNav__item {
    display: none;
  }
  .mainNav_closed .mainNav__item_active {
    display: block;
  }
  .mainNav_closed .mainNav__userList {
    display: none;
  }
  .mainNav_closed .mainNav__item_active a {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }
  .mainNav_opened .mainNav__wrapper {
    position: absolute;
    left: 70px;
    top: 0;
    right: 0;
    z-index: 10;
    height: 80vh;
  }
  .mainNav_opened .mainNav__wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    box-shadow: inset 4px 0 5px -2px rgba(0, 0, 0, 0.5);
  }
  .mainNav_nojs .mainNav__toggle {
    display: none;
  }
  .mainNav_nojs .mainNav__wrapper {
    display: block;
    position: static;
    height: auto;
  }
  .mainNav_nojs .mainNav__item {
    display: block;
  }
  .mainNav_nojs .mainNav__item_active a {
    text-align: left;
    padding-left: 21px;
    padding-right: 21px;
  }
  .mainNav_nojs .mainNav__userList {
    display: block;
  }
}

@media (min-width: 768px) {
  .mainNav {
    width: auto;
    min-height: 72px;
    background-color: #000;
  }
  .mainNav__toggle {
    display: none;
  }
  .mainNav__wrapper {
    background-color: transparent;
    width: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .mainNav__wrapper {
    width: 83.3%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .mainNav__list {
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
  }
  .mainNav__item:last-child {
    margin: 0;
  }
  .mainNav__item_active {
    position: relative;
  }
  .mainNav__item_active:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    background-color: #826550;
  }
  .mainNav__item a {
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mainNav__item a[href]:hover {
    color: #826550;
    background-color: transparent;
  }
  .mainNav__item a[href]:active {
    color: white;
    background-color: transparent;
    opacity: 0.3;
  }
  .mainNav__userLogin {
    padding-top: 25px;
    padding-bottom: 23px;
    font-size: 0;
  }
  .mainNav__userLogin:before {
    top: 28px;
    left: 20px;
  }
  .mainNav__userLogin:hover:before {
    opacity: 1;
    background-position: 0 -24px;
  }
  .mainNav__userLogin:active:before {
    opacity: 0.3;
    background-position: 0 0;
  }
}

@media (min-width: 1200px) {
  .mainNav__item {
    margin: 0;
    margin-right: 1px;
  }
  .mainNav__item_active:after {
    left: 31px;
    right: 31px;
  }
  .mainNav__item a {
    padding-left: 31px;
    padding-right: 31px;
  }
  .mainNav__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .mainNav__item a[href]:active {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  .mainNav__userList {
    width: 129px;
  }
  .mainNav__userLogin {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 61px;
  }
  .mainNav__userLogin:before {
    top: 28px;
    left: 25px;
  }
  .mainNav__userLogin:hover {
    color: black;
    background-color: #fff;
  }
  .mainNav__userLogin:hover:before {
    opacity: 0.3;
    background-position: 0 -48px;
  }
  .mainNav__userLogin:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  .mainNav__userLogin:active:before {
    opacity: 0.1;
  }
}

.stats {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 1px;
}

@media (min-width: 768px) {
  .stats {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .stats {
    width: 960px;
  }
}

.stats__header {
  box-sizing: border-box;
  min-height: 183px;
  padding: 27px 38px;
  padding-bottom: 25px;
  color: black;
  background-color: #fff;
}

.stats__slogan {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.stats__intro {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  text-align: center;
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.3;
  text-align: center;
  box-sizing: border-box;
}

.stats__legend sup {
  top: -0.25em;
  font-size: 80%;
}

.stats__legend_top {
  display: none;
}

.stats__legend_bottom {
  min-height: 45px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.stats__table {
  width: 100%;
  border-collapse: collapse;
}

.stats__table tr {
  background-color: #404040;
}

.stats__table tr:nth-child(2) {
  background-color: #4e4e4e;
}

.stats__table tr:nth-child(3) {
  background-color: #353535;
}

.stats__value,
.stats__field {
  padding: 6.25%;
  padding-top: 18px;
  padding-bottom: 21px;
}

.stats__value {
  font-size: 40px;
  line-height: 40px;
  padding-right: 0;
  font-weight: 700;
}

.stats__field {
  text-align: right;
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
}

.stats__value sup {
  font-size: 55%;
  margin-left: 10px;
  top: -0.75em;
}

@media (min-width: 768px) {
  .stats {
    margin-top: -184px;
    position: relative;
    z-index: 1;
  }
  .stats__header {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .stats__header:before {
    content: '';
    position: absolute;
    left: -22px;
    top: 41px;
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    border: 11px solid transparent;
    border-top-color: white;
    border-right-color: white;
  }
  .stats__slogan,
  .stats__intro {
    width: 50%;
    box-sizing: border-box;
    text-align: left;
  }
  .stats__slogan {
    text-transform: none;
    font-size: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin-bottom: 19px;
  }
  .stats__intro {
    padding-left: 32px;
    padding-top: 5px;
    padding-right: 80px;
    font-size: 20px;
    line-height: 27px;
  }
  .stats__legend_top {
    display: block;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    width: 50%;
  }
  .stats__legend_bottom {
    display: none;
  }
  .stats__table {
    display: block;
  }
  .stats__table tbody {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  .stats__table tr {
    display: block;
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 25px 35px;
    padding: 25px 5.46875%;
  }
  .stats__table tr:nth-child(even) {
    padding-left: 30px;
  }
  .stats__value {
    display: block;
    padding: 0;
    padding-bottom: 8px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    display: block;
    padding: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__value sup {
    top: -0.6em;
    margin-left: 13px;
  }
  .stats__field br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .stats {
    margin-top: -159px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .stats__header {
    width: 320px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-bottom: 30px;
    flex-direction: column;
  }
  .stats__header:before {
    top: 37px;
  }
  .stats__slogan,
  .stats__intro {
    width: auto;
    padding: 0;
  }
  .stats__slogan {
    margin-bottom: 43px;
  }
  .stats__intro {
    padding-left: 2px;
    padding-right: 30px;
  }
  .stats__legend_top {
    width: auto;
    padding: 0;
    margin-top: auto;
  }
  .stats__table {
    width: 640px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}

.slider__item {
  transition: 0.5s ease-in-out all;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

.slider__list {
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}

.slider__input {
  display: none;
}

.slider__toggles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.slider__toggle {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  font-size: 0;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #a5a5a5;
  transform: rotate(45deg);
  margin-right: 25px;
}

.slider__toggle:last-child {
  margin: 0;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.advantages__item {
  box-sizing: border-box;
  min-height: 275px;
  padding: 0 40px;
  padding-top: 125px;
  text-align: center;
}

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.advantages__item p {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

#advantagesInput1:checked ~ .advantages__list .advantages__item:nth-child(1) {
  margin-left: 0;
}

#advantagesInput2:checked ~ .advantages__list .advantages__item:nth-child(1) {
  margin-left: -100%;
}

#advantagesInput3:checked ~ .advantages__list .advantages__item:nth-child(1) {
  margin-left: -200%;
}

#advantagesInput1:checked ~ .advantages__toggles label[for="advantagesInput1"],
#advantagesInput2:checked ~ .advantages__toggles label[for="advantagesInput2"],
#advantagesInput3:checked ~ .advantages__toggles label[for="advantagesInput3"] {
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .advantages__list {
    display: block;
    overflow: visible;
  }
  .advantages__item {
    display: block;
    width: auto;
    min-height: 134px;
    min-height: 0;
    padding-top: 45px;
    padding-left: 130px;
    padding-right: 0;
    padding-bottom: 35px;
    text-align: left;
    outline: 1px solid gray;
  }
  .advantages__toggles {
    display: none;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper {
    padding: 0;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .advantages__list {
    display: table;
    width: 100%;
    min-height: 275px;
  }
  .advantages__item {
    width: 320px;
    display: table-cell;
    padding: 0 40px;
    padding-top: 130px;
    text-align: center;
    margin: 0;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
}

.news {
  background-color: #f8f5f2;
}

.news__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 435px;
  color: black;
  padding-top: 30px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .news__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
  }
}

.news__title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  min-height: 133px;
  padding-left: 69px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 17px;
  padding-top: 17px;
}

.news__item p:first-child,
.news__item p:last-child {
  margin: 0;
}

.news__item:nth-child(n+3) {
  display: none;
}

.news__date {
  position: absolute;
  left: 0;
  top: 28px;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  font-size: 16px;
  padding-top: 25px;
  line-height: 30px;
  color: white;
}

.news__date:after {
  width: 0px;
  height: 0px;
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  border: 25px solid transparent;
  border-top: 10px solid black;
  border-bottom-width: 0px;
}

.news__date b {
  font-size: 30px;
  line-height: 30px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 5px;
}

.news__item:hover {
  color: #826550;
  text-decoration: underline;
}

.news__item:hover .news__date {
  background-color: #826550;
}

.news__item:hover .news__date:after {
  border-top-color: #826550;
}

.news__item:active {
  color: #6a4d38;
  text-decoration: underline;
}

.news__item:active .news__date {
  background-color: #6a4d38;
  color: rgba(255, 255, 255, 0.3);
}

.news__item:active .news__date:after {
  border-top-color: #6a4d38;
}

.news__toAll {
  margin-top: 7px;
  color: black;
}

@media (min-width: 768px) {
  .news {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .news__wrapper {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 205px;
    position: relative;
  }
  .news__title {
    font-size: 40px;
    text-align: left;
    margin-right: 200px;
    margin-bottom: 43px;
  }
  .news__list {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-right: 30px;
    width: 50%;
    font-size: 18px;
  }
  .news__item span {
    display: none;
  }
  .news__item p:first-of-type {
    margin-top: 0;
  }
  .news__toAll {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 160px;
  }
}

@media (min-width: 1200px) {
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .news {
    padding-top: 55px;
  }
  .news__wrapper {
    padding-bottom: 15px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item {
    width: 320px;
  }
}

.reviews {
  border-top: 1px solid #e5ddd5;
  padding-bottom: 1px;
  background-color: #f8f5f2;
}

.reviews__wrapper {
  min-height: 255px;
  box-sizing: border-box;
  position: relative;
  padding-top: 25px;
  padding-bottom: 53px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;
  color: black;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}

.reviews__title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}

.reviews__write {
  display: none;
}

.reviews__item {
  margin: 0;
  position: relative;
  padding-left: 70px;
  box-sizing: border-box;
}

.reviews__foto {
  position: absolute;
  left: 0;
  top: 10px;
}

.reviews__name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: 700;
}

.reviews__item p {
  margin: 7px 0;
}

.reviews__prev,
.reviews__next {
  display: none;
}

.reviews__toggles {
  margin-top: 20px;
}

#reviewsInput1:checked ~ .slider__wrapper .reviews__list .reviews__item:nth-child(1) {
  margin-left: 0;
}

#reviewsInput2:checked ~ .slider__wrapper .reviews__list .reviews__item:nth-child(1) {
  margin-left: -100%;
}

#reviewsInput3:checked ~ .slider__wrapper .reviews__list .reviews__item:nth-child(1) {
  margin-left: -200%;
}

#reviewsInput1:checked ~ .reviews__toggles label[for="reviewsInput1"],
#reviewsInput2:checked ~ .reviews__toggles label[for="reviewsInput2"],
#reviewsInput3:checked ~ .reviews__toggles label[for="reviewsInput3"] {
  background-color: #353535;
  border-color: #626261;
  border-width: 1px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 37px;
    padding-bottom: 45px;
    min-height: 0;
  }
  .reviews__wrapper {
    min-height: 245px;
    padding: 0;
    padding-top: 3px;
    text-align: center;
  }
  .reviews__write {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
  }
  .reviews__title {
    text-align: left;
    margin-right: 200px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 43px;
  }
  .slider__wrapper {
    position: relative;
  }
  .reviews__list {
    position: relative;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #e5ddd5;
  }
  .reviews__item {
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    padding-left: 140px;
    padding-right: 50px;
    padding-top: 30px;
    min-height: 158px;
    text-align: left;
  }
  .reviews__foto {
    left: 30px;
    top: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  .reviews__prev,
  .reviews__next {
    position: absolute;
    display: block;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    background-color: transparent;
    border: 1px solid #e5ddd5;
  }
  .reviews__prev:before,
  .reviews__next:before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-right: 12px solid black;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -13px;
  }
  .reviews__prev:hover,
  .reviews__next:hover {
    border-color: #d5c9bd;
  }
  .reviews__prev:active,
  .reviews__next:active {
    border-color: #d5c9bd;
    background-color: #d5c9bd;
  }
  .reviews__prev:active:before,
  .reviews__next:active:before {
    opacity: 0.3;
  }
  .reviews__next {
    left: auto;
    right: 0;
  }
  .reviews__next:before {
    left: 50%;
    margin-left: -5px;
    border: 6px solid transparent;
    border-left: 12px solid black;
  }
  .reviews__toggles {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    margin-top: -5px;
    background-color: #f8f5f2;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 10px;
  }
}

@media (min-width: 1200px) {
  .reviews__list {
    margin-left: 70px;
    margin-right: 70px;
  }
  .reviews__title {
    padding-left: 70px;
  }
  .reviews__item {
    width: 100%;
    padding-right: 75px;
    padding-left: 320px;
  }
  .reviews__toggles {
    margin-top: 45px;
  }
  .reviews__foto {
    left: 0;
    width: 250px;
    top: 0;
    bottom: 0;
    height: auto;
    overflow: visible;
    border-radius: 0;
  }
}

.pageFooter {
  min-height: 500px;
  padding-top: 0px;
  text-align: center;
}

.pageFooter__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .pageFooter__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .pageFooter__wrapper {
    width: 960px;
  }
}

.pageFooter__contacts {
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 31px;
  padding-bottom: 26px;
  margin: 0;
}

.pageFooter__contacts b {
  display: block;
  margin-bottom: 10px;
}

.pageFooter__tel {
  margin-top: 18px;
}

.pageFooter__contacts_hidden {
  display: none;
}

.pageFooter__social {
  margin: 0;
  padding: 0;
  min-height: 101px;
  font-size: 0;
}

.socialLinks::after {
  content: '';
  display: table;
  clear: both;
}

.socialLink {
  float: left;
  width: 33.3%;
  height: 101px;
  margin: 0;
  font-size: 0;
}

.socialLink:not(:first-child) {
  margin-left: -1px;
}

.pageFooter__copyright {
  min-height: 140px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 28px;
  margin: 0;
}

.pageFooter__copyrightLink {
  margin-top: 12px;
}

@media (min-width: 768px) {
  .pageFooter {
    min-height: 350px;
    padding-top: 38px;
  }
  .pageFooter__contacts {
    min-height: 150px;
    text-align: left;
    padding: 0;
    padding-top: 10px;
    margin-right: 180px;
  }
  .pageFooter__contacts b {
    text-transform: uppercase;
  }
  .pageFooter__tel {
    display: block;
    margin: 0;
    padding-left: 0;
    margin-top: -10px;
    text-align: left;
    text-transform: none;
    border: none;
    font-weight: normal;
  }
  .pageFooter__contacts_hidden {
    display: inline;
  }
  .pageFooter__wrapper {
    position: relative;
  }
  .pageFooter__copyright {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    padding: 0;
    padding-top: 10px;
  }
  .pageFooter__copyrightLink {
    width: 160px;
  }
}

@media (min-width: 1200px) {
  .pageFooter {
    min-height: 200px;
  }
  .pageFooter__wrapper::after {
    content: '';
    display: table;
    clear: both;
  }
  .pageFooter__contacts,
  .pageFooter__social,
  .pageFooter__copyright {
    float: left;
    margin: 0;
  }
  .pageFooter__contacts {
    width: 350px;
  }
  .pageFooter__social {
    width: 260px;
    padding-top: 10px;
    font-size: 18px;
  }
  .socialLinks {
    text-align: center;
    display: inline-block;
    padding-top: 14px;
  }
  .socialLink {
    width: 50px;
    height: 50px;
    margin-right: 6px;
  }
  .socialLink:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */